# Project exclude paths
/DiscoveryAccountSystemDomain/target/
/DiscoveryAccountSystemLogic/target/
/DiscoveryAccountSystemRepository/target/
/DiscoveryAccountSystemRepository/src/main/resources/application-db.properties
/DiscoveryAccountSystemTranslator/target/
/DiscoveryAccountSystemWebSpringBoot/target/