# Project exclude paths
/DiscoveryAccountSystemDomain/target/
/DiscoveryAccountSystemLogic/target/
/DiscoveryAccountSystemRepository/target/
/DiscoveryAccountSystemTranslator/target/
/DiscoveryAccountSystemWebSpringBoot/target/